<!DOCTYPE html>
<html>
	<head>
		<title>FT Labs Translation dashboard</title>
		<link rel="stylesheet" href="https://build.origami.ft.com/v2/bundles/css?modules=o-fonts@^3.0.4,o-buttons@^5.10.3,o-forms@^5.2.4,o-table@^6.7.0" />
		<link rel="stylesheet" type="text/css" href="client/css/main.css">
	</head>
	<body>
		<h1>LeFT</h1>
		<form class="o-forms" id="translateForm">
			<label aria-describedby="text-box-info" for="articleUUID" class="o-forms__label">Article UUID</label>
			<input class="o-forms__text" id="articleUUID" />

			<label aria-describedby="text-box-info" for="freeText" class="o-forms__label">Some text to translate</label>
			<textarea class="o-forms__textarea" id="freeText"></textarea>
			
			<label aria-describedby="text-box-info" for="langSelect" class="o-forms__label">Translate to</label>
			<select id="langSelect" class="o-forms__select">
				<option value="" disabled selected>Select a language</div>
				{{#each lang}}
				    <option value="{{this.code}}" data-translators="{{this.translator}}">{{this.name}}</div>
				{{/each}}
			</select>
			<legend class="o-forms__label">Translators</legend>
			<div class="o-forms__group o-forms__group--inline" id="translators">
				{{#each translators}}
					<input type="checkbox" name="{{this}}" value="{{this}}" class="o-forms__checkbox" id="{{this}}" checked="checked">
					<label for="{{this}}" class="o-forms__label">{{this}}</label>
				{{/each}}
			</div>
			<button type="submit" class="o-buttons o-buttons--primary o-buttons--big">Translate</button>
		</form>
	
		<section id="output" class="cape"></section>
		<script type="text/javascript" src="client/js/main.js"></script>
		<script src="https://build.origami.ft.com/v2/bundles/js?modules=o-fonts@^3.0.4,o-buttons@^5.10.3,o-forms@^5.2.4,o-table@^6.7.0"></script>
	</body>
</html>
