<!DOCTYPE html>
<html>
	<head>
		<title>FT Labs Translation dashboard</title>
		<link rel="stylesheet" href="https://build.origami.ft.com/v2/bundles/css?modules=o-fonts@^3.0.4,o-buttons@^5.10.3,o-forms@^5.2.4,o-table@^6.7.0,o-toggle@^1.1.10,o-loading@^2.2.1,o-message@^2.3.3" />
		<link rel="stylesheet" type="text/css" href="client/css/main.css">
	</head>
	<body>
		<h1>LeFT - Exploring Automated Text Translation</h1>
		<p class="context">Deepl, AWS, Google are just a few of several providers of automated translation services,
			where the quality is really rather good.
			Good enough, in fact, to be worth considering how we might use translations on FT.com or associated properties?
			Feel free to try it out.
		</p>
		<p class="context">Any thoughts/comments/feedback: email or slack #ftlabs</a>.</p>
		<div class="o-message o-message--alert-bleed o-message--error cape" data-o-component="o-message">
			<div class="o-message__container">
				<div class="o-message__content">
					<p class="o-message__content-main">
						
					</p>
				</div>
			</div>
		</div>
		<button class="o-buttons o-buttons-icon o-buttons-icon--arrow-down settings" data-o-component="o-toggle" data-o-toggle-target=".o-forms" aria-expanded="false">Show settings</button>

		<form class="o-forms" id="translateForm">
			<label aria-describedby="text-box-info" for="articleUUID" class="o-forms__label">Article UUID</label>
			<input class="o-forms__text" id="articleUUID" />

			<label aria-describedby="text-box-info" for="freeText" class="o-forms__label">... or some text to translate</label>
			<textarea class="o-forms__textarea" id="freeText"></textarea>

			<label aria-describedby="text-box-info" for="lexicon" class="o-forms__label">... or a Lexicon term</label>
			<textarea class="o-forms__textarea" id="lexiconTerm"></textarea>

			<label aria-describedby="text-box-info" for="langSelect" class="o-forms__label">Translate to</label>
			<p>(We have language-specific voices for german and french.)</p>
			<select id="langSelect" class="o-forms__select">
				{{#each lang}}
				    <option value="{{this.code}}" data-translators="{{this.translatorNamesCSV}}" {{#if isDefault}} selected {{/if}}>{{this.nameWithTranslators}}</option>
				{{/each}}
			</select>
			<legend class="o-forms__label">Translators</legend>
			<div class="o-forms__group o-forms__group--inline" id="translators">
				{{#each translators}}
					<input type="checkbox" name="{{this}}" value="{{this}}" class="o-forms__checkbox" id="{{this}}" checked="checked">
					<label for="{{this}}" class="o-forms__label">{{this}}</label>
				{{/each}}
			</div>
			<button type="submit" class="o-buttons o-buttons--primary o-buttons--big">Translate</button>
		</form>

		<div class="loading-card loading-card--light cape" aria-hidden="true">
			<p>Fetching translation, please wait.<p>
			<div class="o-loading o-loading--dark o-loading--large"></div>
		</div>

		<section id="output" class="cape"></section>
		<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
		<script src="https://build.origami.ft.com/v2/bundles/js?modules=o-fonts@^3.0.4,o-buttons@^5.10.3,o-forms@^5.2.4,o-table@^6.7.0,o-toggle@^1.1.10,o-loading@^2.2.1,o-utils@^1.0.4,o-message@^2.3.3"></script>
		<script type="text/javascript">
			window.leftLimits = "{{ limits }}";
			window.leftByPass = "{{ byPass }}";
		</script>
		<script type="text/javascript" src="client/js/main.js"></script>
	</body>
</html>
